// PORTFOLIO
body {    
    @media (min-width: 400px) {
        .portfolio_grid {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px, 300px));
            gap: 20px;
            justify-content: center;            
            .image {
                position: relative;
                width: 250px;
                margin: 0px;
                .img_img {
                    display: block;
                    width: 100%;
                    border-radius: 10px; 
                }
                .img_overlay {
                    position: absolute;
                    margin: 0px;
                    border-radius: 10px;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: #414c5d;
                    color: #fff;
                    font-family: Verdana;
                    font-size: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    opacity: 0;
                    transition: opacity 0.45s;
                    button {
                        border-radius: 5px;
                    }
                }
                .img_overlay:hover {
                    opacity: 1;
                }
            }
        }
    }
    @media (min-width: 650px) {
        .portfolio_grid {
            grid-template-columns: repeat(auto-fill, minmax(200px, 200px));
            .image {
                width: 200px;
            }
        }
    }
    @media (min-width: 860px) {
        .portfolio_grid {       
            grid-template-columns: repeat(auto-fill, minmax(150px, 150px));
            .image {
                width: 150px;  
            }
        }
    }
}