body {
    // TESTEMONIAL
    .testimonial {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 30px;
        
        .text{
            border: 1px lightgrey solid;
            border-bottom: 0px;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            background-color: white;
            width: 60%;
            height: 90%;
            padding: 4%;
            
            .paragraph{
                font: normal 2.5vw Verdana;
                color: $color-text;
                line-height: 150%;
                padding-bottom: 50%;
                height: 20%;             
            }   
        }
        
        .footer-main{
            border: 1px lightgrey solid;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            background-color: $color-footer;
            width: 68%;
            text-align: center;
            margin-top: -10%;
            
            img{
                width: 35%;
                border: 8px white solid;
                border-radius: 50%;     
                margin-top: -25%;
            }

            .foot-text1{
                color: white;               
                font: bold 25px verdana;
                padding-top: 20px;
            }

            .foot-text2{
                color: gray;
                font: normal 20px verdana;
                padding-bottom: 20px;
            }
        }
    }
}