// Colors
$color-page: #c3cfe2;
$color-text: rgb(68, 67, 67);
$color-footer: #686de0;
$color-blog: #e17b77; //blog
$color-facebook: #3b5998; //facebook
$color-twitter: #00aced; //twitter
$color-github: #333; //github
$color-linkedin: #007bb6; //linkedin
